<main class="section wrapper">
	<h1 class="section__head">Средства для ухода</h1>
	<div class="breadcrumbs">
		<ul class="breadcrumbs__wrap">
			<li class="breadcrumbs__unit">
				<a href="/" class="breadcrumbs__link">Главная</a>
			</li>
			<li class="breadcrumbs__unit">
				<a href="./price.html" class="breadcrumbs__link">Магазин</a>
			</li>
			<li class="breadcrumbs__unit">
				<span>Средства для ухода</span>
			</li>
		</ul>
	</div>
	<section class="catalog">
		<aside class="catalog__sidebar sidebar">
			<form class="sidebar__filter" action="#"> 
				<div class="sidebar__parm-wrap">
					<h3 class="sidebar__head">Производители:</h3>
					<div class="sidebar__params">
						<div class="sidebar__checkbox checkbox-wrapper">
							<input type="checkbox" id="c1">
							<label for="c1">Baxter of California</label>
						</div>
						<div class="sidebar__checkbox checkbox-wrapper">
							<input type="checkbox" id="c2">
							<label for="c2">Mr Natty</label>
						</div>
						<div class="sidebar__checkbox checkbox-wrapper">
							<input type="checkbox" id="c3">
							<label for="c3">Suavecito</label>
						</div>
						<div class="sidebar__checkbox checkbox-wrapper">
							<input type="checkbox" id="c4">
							<label for="c4">Malin+Goetz</label>
						</div>
						<div class="sidebar__checkbox checkbox-wrapper">
							<input type="checkbox" id="c5">
							<label for="c5">Murray’s</label>
						</div>
						<div class="sidebar__checkbox checkbox-wrapper">
							<input type="checkbox" id="c6">
							<label for="c6">American Crew</label>
						</div>
					</div>
				</div>
				<div class="sidebar__parm-wrap">
					<h3 class="sidebar__head">Группы товаров:</h3>
					<div class="sidebar__params">
						<div class="sidebar__radio radio-wrapper">
							<input type="radio" id="r1" name="radio">
							<label for="r1">Бритвенные принадлежности</label>
						</div>
						<div class="sidebar__radio radio-wrapper">
							<input type="radio" id="r2" name="radio">
							<label for="r2">Средства для ухода</label>
						</div>
						<div class="sidebar__radio radio-wrapper">
							<input type="radio" id="r3" name="radio">
							<label for="r3">Аксессуары</label>
						</div>
					</div>
				</div>
				<button class="btn" type="submit">Показать</button>
			</form>
		</aside>
		<section class="catalog__content">
			<div class="products-grid">
				<div class="products-grid__unit">
					<a href="" class="products-grid__img">
						<img src="./images/catalog/boc.png" alt="Baxter of California">
					</a>
					<span class="products-grid__category">Набор для путешествий</span>
					<a href="#" class="products-grid__name">«Baxter of California»</a>
					<div class="products-grid__cost clearfix">
						<div class="products-grid__price">2 900 руб.</div>
						<div class="btn">Купить</div>
					</div>
				</div>
				<div class="products-grid__unit">
					<a href="" class="products-grid__img">
						<img src="./images/catalog/boc2.png" alt="Baxter of California">
					</a>
					<span class="products-grid__category">Увлажняющий кондиционер</span>
					<a href="#" class="products-grid__name">«Baxter of California»</a>
					<div class="products-grid__cost clearfix">
						<div class="products-grid__price">750 руб.</div>
						<div class="btn">Купить</div>
					</div>
				</div>
				<div class="products-grid__unit">
					<a href="" class="products-grid__img">
						<img src="./images/catalog/sua.png" alt="«SUAVECITO»">
					</a>
					<span class="products-grid__category">Гель для волос</span>
					<a href="#" class="products-grid__name">«SUAVECITO»</a>
					<div class="products-grid__cost clearfix">
						<div class="products-grid__price">290 руб.</div>
						<div class="btn">Купить</div>
					</div>
				</div>
				<div class="products-grid__unit">
					<a href="" class="products-grid__img">
						<img src="./images/catalog/ac.png" alt="«American crew»">
					</a>
					<span class="products-grid__category">Глина для укладки волос</span>
					<a href="#" class="products-grid__name">«American crew»</a>
					<div class="products-grid__cost clearfix">
						<div class="products-grid__price">500 руб.</div>
						<div class="btn">Купить</div>
					</div>
				</div>
				<div class="products-grid__unit">
					<a href="" class="products-grid__img">
						<img src="./images/catalog/ac2.png" alt="«American crew»">
					</a>
					<span class="products-grid__category">Гель для волос</span>
					<a href="#" class="products-grid__name">«American crew»</a>
					<div class="products-grid__cost clearfix">
						<div class="products-grid__price">300 руб.</div>
						<div class="btn">Купить</div>
					</div>
				</div>
				<div class="products-grid__unit">
					<a href="" class="products-grid__img">
						<img src="./images/catalog/boc3.png" alt="«American crew»">
					</a>
					<span class="products-grid__category">Набор для бритья</span>
					<a href="#" class="products-grid__name">«Baxter of California»</a>
					<div class="products-grid__cost clearfix">
						<div class="products-grid__price">3 900 руб.</div>
						<div class="btn">Купить</div>
					</div>
				</div>
			</div>
			<ul class="pagination">
				<li class="pagination__unit">
					<a href="#" class="pagination__link pagination__link--active btn">1</a>
				</li>
				<li class="pagination__unit">
					<a href="#" class="pagination__link btn">2</a>
				</li>
				<li class="pagination__unit">
					<a href="#" class="pagination__link btn">3</a>
				</li>
				<li class="pagination__unit">
					<a href="#" class="pagination__link btn">4</a>
				</li>
			</ul>
		</section>
	</section>
</main>