<main class="section wrapper">
	<h1 class="section__head">набор для путешествий «Baxter of California»</h1>
	<div class="breadcrumbs">
		<ul class="breadcrumbs__wrap">
			<li class="breadcrumbs__unit">
				<a href="/" class="breadcrumbs__link">Главная</a>
			</li>
			<li class="breadcrumbs__unit">
				<a href="./price.html" class="breadcrumbs__link">Магазин</a>
			</li>
			<li class="breadcrumbs__unit">
				<span>Средства для ухода</span>
			</li>
		</ul>
	</div>
	<section class="product">
		<div class="product__left">
			<div class="product__slider products-images">
				<div class="products-images__img-main">
					<img src="./images/slider/main.png" alt="«Baxter of California»">
				</div>
				<div class="products-images__thumbs">
					<img src="./images/slider/t1.png" alt="«Baxter of California»">
					<img src="./images/slider/t2.png" alt="«Baxter of California»">
					<img src="./images/slider/t3.png" alt="«Baxter of California»">
				</div>
			</div>
		</div>
		<div class="product__right">
			<div class="product__offer">
				<span class="product__status">есть в наличии</span>
				<span class="product__vendor-code">Артикул: dexter-ae</span>
			</div>
			<div class="product__descr">
				<p>Travel Kit – необходимый аксессуар во время любого путешествия. В аккуратной кожаной сумке находится все, что нужно для бритья и ухода за кожей во время рабочей поездки или отдыха: средство для умывания, увлажняющий крем, крем для бритья, крем после бритья, шампунь. Набор также может стать отличным подарком.</p>
			</div>
			<div class="product__cost clearfix">
				<div class="product__price">2 900 руб.</div>
				<a href="./product.html" class="btn">Купить</a>
			</div>
			<div class="product__complectation">
				<h3 class="product__head">В набор входят:</h3>
				<ul class="list">
					<li class="list__item">Средство для умывания (50 мл)</li>
					<li class="list__item">Увлажняющий крем (50 мл)</li>
					<li class="list__item">Крем для бритья (50 мл)</li>
					<li class="list__item">Крем после бритья, шампунь (50 мл)</li>
					<li class="list__item">Удобная кожаная косметичка</li>
				</ul>
			</div>
		</div>
	</section>
</main>