<section class="section wrapper">
	<h1 class="section__head">Прайс лист</h1>
	<div class="breadcrumbs">
		<ul class="breadcrumbs__wrap">
			<li class="breadcrumbs__unit">
				<a href="" class="breadcrumbs__link">Главная</a>
			</li>
			<li class="breadcrumbs__unit">
				<span>Прайс-лист</span>
			</li>
		</ul>
	</div>
	<h2 class="head-page-lg">ИСТИННО МУЖСКАЯ КЛАССИКА</h2>
	<div class="inner-columns">
		<div class="inner-columns__unit">
			<h3>МЫ ИСПОЛЬЗУЕМ ТОЛЬКО <br> ЛУЧШИЕ СРЕДСТВА:</h3>
			<ul class="list list--lg">
				<li class="list__item">Baxter of California</li>
				<li class="list__item">Mr Natty</li>
				<li class="list__item">Suavecito</li>
				<li class="list__item">Malin+Goetz</li>
			</ul>
		</div>
		<div class="inner-columns__unit">
			<h3>ЦЕНЫ НА УСЛУГИ <br> НАШИХ МАСТЕРОВ:</h3>
			<table class="price-table">
				<tbody>
					<tr>
						<td>СТРИЖКА</td>
						<td>1500р.</td>
					</tr>
					<tr>
						<td>СТРИЖКА БОРОДЫ</td>
						<td>500р.</td>
					</tr>
					<tr>
						<td>НАКРУТКА УСОВ</td>
						<td>350р.</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="inner-columns">
		<h3 class="grid__head">НЕСКОЛЬКО СЛОВ О НАС:</h3>
		<div class="inner-columns__unit">
			<p class="inner-columns__short-paragraph">Наша парикмахерская занимается исключительно мужскими стрижками. Стрижка каждого клиента для нас - это уникальная и продуманная до мелочей работа. Мы не работаем на количество, мы делаем качество.</p>
		</div>
		<div class="inner-columns__unit">
			<p class="inner-columns__short-paragraph">Наша мастерская расположена в центре города, поэтому сделать стильную стрижку можно в любое время, даже в обеденный перерыв. Здесь вы можете погрузиться в удобную для вас атмосферу, чувствовать себя комфортно и свободно!</p>
		</div>
	</div>
</section>