<footer class="footer">
	<div class="wrapper">
		<div class="footer__unit">
			<p>
				БАРБЕРШОП «БОРОДИНСКИЙ» <br>
				АДРЕС: Г. САНКТ-ПЕТЕРБУРГ, УЛ. Б. КОНЮШЕННАЯ, Д. 19/8 <br>
				<a href="#">КАК НАС НАЙТИ?</a> <br>
				ТЕЛЕФОН: +7 (495) 666-02-66
			</p>
		</div>
		<div class="footer__unit">
			<div class="social-links">
				<div class="footer__head">Давайте дружить!</div>
				<div class="social-links__links-wrap">
						<a class="social-links__link" href="#">
							<i class="fa fa-vk" aria-hidden="true"></i>
						</a>
						<a class="social-links__link" href="#">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
						<a class="social-links__link" href="#">
							<i class="fa fa-instagram" aria-hidden="true"></i>
						</a>
				</div>
			</div>
		</div>
		<div class="footer__unit">
			<div class="copytight">
				<div class="footer__head">Разработано</div>
				<a href="https://htmlacademy.ru/" target="_blank" class="btn">htmlacademy</a>
			</div>
		</div>
	</div>
</footer>
<div class="popup popup--login">
	<div class="popup__close"></div>
	<div class="popup__head">ЛИЧНЫЙ КАБИНЕТ</div>
	<form class="login-form" id="login" action="#">
		<span class="login-form__sub-text">ВВедите пожалуйста свой логин и пароль</span>
		<div class="login-form__input login-form__input--login">
			<input type="text" name="login" value="" placeholder="Логин">
		</div>
		<div class="login-form__input login-form__input--pass">
			<input type="text" name="passworld" value="" placeholder="Пароль">
		</div>
		<div class="login-form__options clearfix">
			<div class="checkbox-wrapper">
				<input type="checkbox" id="lt">
				<label for="lt">Запомните меня</label>
			</div>
			<a class="login-form__forgot" href="#">Я забыл пароль</a>
		</div>
		<input class="btn" type="submit" name="login-submit" value="Войти">
	</form>
</div>
<div class="popup popup--map">
	<div class="popup__close"></div>
	<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1957.492557697007!2d30.320718438908486!3d59.93838777892368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0KPQmy4g0JEuINCa0J7QndCu0KjQldCd0J3QkNCvLCDQlC4gMTkvOCA!5e0!3m2!1sru!2sru!4v1500141630689" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
