<footer class="footer">
	<div class="wrapper">
		<div class="footer__unit">
			<p>
				БАРБЕРШОП «БОРОДИНСКИЙ» <br>
				АДРЕС: Г. САНКТ-ПЕТЕРБУРГ, УЛ. Б. КОНЮШЕННАЯ, Д. 19/8 <br>
				<a href="#">КАК НАС НАЙТИ?</a> <br>
				ТЕЛЕФОН: +7 (495) 666-02-66
			</p>
		</div>
		<div class="footer__unit">
			<div class="social-links">
				<div class="footer__head">Давайте дружить!</div>
				<div class="social-links__links-wrap">
						<a class="social-links__link" href="#">
							<i class="fa fa-vk" aria-hidden="true"></i>
						</a>
						<a class="social-links__link" href="#">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
						<a class="social-links__link" href="#">
							<i class="fa fa-instagram" aria-hidden="true"></i>
						</a>	
				</div>
			</div>
		</div>
		<div class="footer__unit">
			<div class="copytight">
				<div class="footer__head">Разработано</div>
				<a href="https://htmlacademy.ru/" target="_blank" class="btn">htmlacademy</a>
			</div>
		</div>
	</div>
</footer>
<div class="popup popup--map">
	<div class="popup__close"></div>
	<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1957.492557697007!2d30.320718438908486!3d59.93838777892368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0KPQmy4g0JEuINCa0J7QndCu0KjQldCd0J3QkNCvLCDQlC4gMTkvOCA!5e0!3m2!1sru!2sru!4v1500141630689" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>