<nav class="menu">
	<div class="wrapper clearfix">
	    <ul class="menu__wrapper">
	    	<li class="menu__item menu__item--active">
	    		<a href="#" class="menu__link">Главная</a>
	    	</li>
	        <li class="menu__item">
	        	<a href="#" class="menu__link">Информация</a>
	        </li>
	        <li class="menu__item">
	        	<a href="#" class="menu__link">Новости</a>
	        </li>
	        <li class="menu__item">
	        	<a href="./price.html" class="menu__link">Прайс-лист</a>
	        </li>
	        <li class="menu__item">
	        	<a href="./catalog.html" class="menu__link">Магазин</a>
	        </li>
	        <li class="menu__item">
	        	<a href="#" class="menu__link">Контакты</a>
	        </li>
	    </ul>
	    <div class="menu__login-link">
	    	<a href="#">Вход</a>
	    </div>
    </div>
</nav>

<section class="main-screen">
	<div class="wrapper">
		<img class="main-screen__logo" src="./images/logo-lg.png" alt="Barbershop «Borodinski»">
		<div class="main-screen__advantages advantages">
			<div class="advantages__unit">
				<h3 class="advantages__head">Быстро</h3>
				<p class="advantages__text">МЫ ДЕЛАЕМ СВОЮ РАБОТУ БЫСТРО! ДВА ЧАСА ПРОЛЕТЯТ НЕЗАМЕТНО И ВЫ — СЧАСТЛИВЫЙ ОБЛАДЕТЕЛЬ СТИЛЬНОЙ СТРИЖКИ-МИНУТКИ!</p>
			</div>
			<div class="advantages__unit">
				<h3 class="advantages__head">Круто</h3>
				<p class="advantages__text">ЗАБУДЬТЕ, КАК ВЫ СТРИГЛИСЬ РАНЬШЕ. МЫ СДЕЛАЕМ ИЗ ВАС ЗВЕЗДУ ФУТБОЛА ИЛИ КИНО! ВО ВСЯКОМ СЛУЧАЕ ВНЕШНЕ.</p>
			</div>
			<div class="advantages__unit">
				<h3 class="advantages__head">Дорого</h3>
				<p class="advantages__text">НАШИ МАСТЕРА — ПРОФЕССИОНАЛЫ СВОЕГО ДЕЛА И НЕ МОГУТ СТОИТЬ ДЕШЕВО. К ТОМУ ЖЕ, РАЗВЕ ЦЕНА НЕ ДАЕТ ОПРЕДЕЛЕНЫЙ СТАТУС?</p>
			</div>
		</div>
	</div>
</section>