<nav class="menu">
	<div class="wrapper clearfix">
		<a href="/" class="menu__logo">
			<img src="./images/logo-inner.png" alt="Barbershop «Borodinski»">
		</a>
	    <ul class="menu__wrapper">
	        <li class="menu__item">
	        	<a href="#" class="menu__link">Информация</a>
	        </li>
	        <li class="menu__item">
	        	<a href="#" class="menu__link">Новости</a>
	        </li>
	        <li class="menu__item menu__item--active">
	        	<a href="./price.html" class="menu__link">Прайс-лист</a>
	        </li>
	        <li class="menu__item">
	        	<a href="#" class="menu__link">Магазин</a>
	        </li>
	        <li class="menu__item">
	        	<a href="#" class="menu__link">Контакты</a>
	        </li>
	    </ul>
	    <div class="menu__login-link">
	    	<a href="#">Вход</a>
	    </div>
    </div>
</nav>