<section class="info-block">
	<div class="wrapper">
		<div class="info-block__left">
			<h2 class="info-block__head">Новости</h2>
			<div class="news-preview">
				<div class="news-preview__unit">
					<p class="news-preview__text">НАМ НАКОНЕЦ ЗАВЕЗЛИ ЯГЕРМАЙСТЕР! ТЕПЕРЬ ВЫ МОЖЕТЕ ПРОПУСТИТЬ СТАКАНЧИК ВО ВРЕМЯ СТРИЖКИ</p>
					<span class="news-preview__date">25 сентября</span>
				</div>
				<div class="news-preview__unit">
					<p class="news-preview__text">В НАШЕЙ КОМАНДЕ ПОПОЛНЕНИЕ, БОРИС «БРИТВА» СТРИГУНЕЦ, ОБЛАДЕТЕЛЬ МНОЖЕСТВА ТИТУЛОВ И НАГРАД ПОПОЛНИЛ НАШИ СТРОЙНЫЕ РЯДЫ</p>
					<span class="news-preview__date">19 сентября</span>
				</div>
			</div>
			<a href="#" class="btn">Все новости</a>
		</div>
		<div class="info-block__right">
			<h2 class="info-block__head">Фотогалерея</h2>
			<div class="lil-slider">
				<figure class="lil-slider__imgs">
					<img src="./images/slider-img.png" alt="">
				</figure>
				<div class="lil-slider__nav">
					<button class="btn disable">Назад</button>
					<button class="btn">Вперед</button>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="info-block">
	<div class="wrapper">
		<div class="info-block__left">
			<h2 class="info-block__head">Контактная информация</h2>
			<p class="info-block__text-block">
				БАРБЕРШОП «БОРОДИНСКИЙ» <br>
				АДРЕС: Г. САНКТ-ПЕТЕРБУРГ, Б. КОНЮШЕННАЯ, Д. 19/8 <br>
				ТЕЛЕФОН: +7 (495) 666-02-66
			</p>
			<p class="info-block__text-block">
				ВРЕМЯ РАБОТЫ: <br>
				ПН — ПТ: С 10:00 ДО 22:00 <br>
				СБ — ВС: С 10:00 ДО 19:00
			</p>
			<div class="contact-links">
				<div class="contact-links__unit btn">Как проехать</div>
				<div class="contact-links__unit btn">Обратная связь</div>
			</div>
		</div>
		<div class="info-block__right">
			<h2 class="info-block__head">Записаться</h2>
			<p class="info-block__text-block">
				УКАЖИТЕ ЖЕЛАЕМУЮ ДАТУ И ВРЕМЯ И МЫ СВЯЖЕМСЯ С ВАМИ ДЛЯ ПОДТВЕРЖДЕНИЯ БРОНИ
			</p>
			<form action="#" class="booking-form">
					<div class="booking-form__inputs">
						<input id="date" type="text" placeholder="Дата">
						<input id="time" type="text" placeholder="Время">
						<input id="name" type="text" placeholder="Ваше имя">
						<input id="tel" type="tel" placeholder="Телефон">
					</div>
				<input class="btn btn--fullwidth" type="submit">
			</form>
		</div>
	</div>
</section>